<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="n0rf3n.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:icon="@drawable/icono"
        android:label="@string/app_name" >
        <activity
            android:name="SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".BenchMarking_Movil_V_1Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SQLVista"
            android:label="Datos Almacenados" >
            <intent-filter>
                <action android:name="n0rf3n.android.SQLVista" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SQLiteActivity"
            android:label="Resumen Información" >
            <intent-filter>
                <action android:name="n0rf3n.android.SQLiteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnalisisMovil"
            android:label="Test Conectividad" >
            <intent-filter>
                <action android:name="n0rf3n.android.AnalisisMovil" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnvioMail"
            android:label="Enviar Info BechMarking" >
            <intent-filter>
                <action android:name="n0rf3n.android.EnvioMail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SitioWeb"
            android:label="Repositorio BechMarking" >
            android:theme=“@android:style/Theme.NoTitleBar”
            <intent-filter>
                <action android:name="n0rf3n.android.SitioWeb" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>